[submodule "hardware"]
	path = hardware
	url = git@github.com:lilka-dev/hardware.git
[submodule "sdk"]
	path = sdk
	url = git@github.com:lilka-dev/sdk.git
[submodule "firmware/KeiraOS"]
	path = firmware/KeiraOS
	url = git@github.com:lilka-dev/KeiraOS.git
[submodule "firmware/doom"]
	path = firmware/doom
	url = git@github.com:lilka-dev/doom_port.git
