[submodule "hardware"]
	path = hardware
	url = https://github.com/lilka-dev/hardware.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/lilka-dev/sdk.git
[submodule "firmware/keiraos"]
	path = firmware/keira
	url = https://github.com/lilka-dev/keira.git
[submodule "firmware/doom"]
	path = firmware/doom
	url = https://github.com/lilka-dev/doom_port.git
